@media (min-width:1024PX){
    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .item__img{
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .item__img__arr{
        display: flex;
        flex-flow: row;
        width: 100%;
    }
    .item__info{
        width: 50%;
    }
    .item__img__arr__item {
        border: 1px $firtFontColor solid ;
    }
    .item__img__cover{
        width: 100%;
    }
    .item__img__cover__img{
        width: 500px;
        height: 500px;
    }
    .item__btn{

        right: -20px;
        top: -15px;

    }
    .item__info__descr{
        font-size: 23px;
        line-height: 25px;
    }
}