.item {
    background-color:  $mostLightColor;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}
.item__btn{
    position: absolute;
    right: -5px;
    top: -10px;
    width: 40px;
    height: 25px;
    background-color: #62a754;
    color: $mostLightColor;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
.item__img{
    width: 100%;
    height: auto;
    padding: 5px;
}
.item__img__cover__img{
    width: 280px;
    height: 280px;
    margin: 15px auto;
    border-radius: 3px;
    display: block;
}
.item__img__arr{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
.item__img__arr__item {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 3px;
}
.item__info{
    padding: 10px;
    font-family: $cardFont;
    color:$firtFontColor;
    font-size: 15px;
    width: 100%;
    line-height: 18px;
    height: auto;
}
.item__info__name,.item__info__price{
    font-family: $priceFont;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    color: $secondWebColor;
}
.item__info__idNum,.item__info__production,.item__info__model{
    font-family: $headerFont;
    text-align: left;
    font-size: 15px;
    text-transform: uppercase;
    color: $firtFontColor;
    padding: 10px;
}
.item__info__isEnable{
    font-family: $priceFont;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    margin: 15px;
    text-transform: uppercase;
    color: $mainWebColor;
    border: #62a754 1px solid;
    border-radius: 3px;
}
.item__info__descr{
    font-family: $cardFont;
    color:$firtFontColor;
    font-size: 20px;
    width: 100%;
    line-height: 18px;
    padding: 20px;
    margin-bottom: 10px;
    text-indent: 20px;
}
.item__info >p> SPAN{
    font-weight: bolder;
}