// COLORS

$mainWebColor: #62a754;
$backgroundColor: #f2f0f0;
$borderColor:#d7d6d6;

$firtFontColor: #434343;
$mostLightColor: #ffffff;
//  FONTS

$headerFont: 'ArialRegular', 'Arial', sans-serif;

// DEPEND


