// COLORS

$mainWebColor: #62a754;
$secondWebColor: #5d0400;
$backgroundColor: #f2f0f0;
$borderColor:#d7d6d6;
$helpGreenColor: #4b7c41;

$firtFontColor: #434343;
$mostLightColor: #ffffff;
$hoverColor:#e9c75d;
//  FONTS

$headerFont: 'ArialRegular', 'Arial', sans-serif;
$cardFont:'TimesNewRomanItalic', Times, serif;
$priceFont: 'ArialBlack', 'Arial', sans-serif;
// DEPEND


