<div class="about-cover">
    <h2 class="about-cover__heading">Вас приветствует ЛЕСНАЯ ОПУШКА!</h2>
    <article class="about-cover__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur ipsa, reiciendis eos dignissimos animi inventore, molestiae deserunt modi, quam dolorem tempora cum ipsam doloremque quis eaque autem iusto assumenda odit laboriosam hic fuga. Beatae in amet ut veniam voluptatem aliquid exercitationem fugit dolores eos atque odio dignissimos, voluptatum corrupti?
    </article>
    <article class="about-cover__text"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sed atque? Harum, necessitatibus voluptates eveniet libero tenetur voluptate aperiam dolore non est aspernatur ab aliquid provident quae unde minima rerum natus itaque exercitationem distinctio dolorem odio obcaecati accusamus? Cupiditate illo corrupti delectus obcaecati quo dolore veniam rem reiciendis saepe voluptates. Autem, labore suscipit? Quibusdam at nesciunt exercitationem! Quae quam facilis, quibusdam voluptate velit saepe aspernatur, architecto doloribus corporis cumque, molestias quisquam nobis recusandae tempora nesciunt. Enim facere quod animi ipsam, iste repudiandae saepe, laborum reprehenderit sapiente ab numquam doloremque ut velit recusandae nobis ipsa nemo vero? Itaque et veritatis obcaecati?
    </article>
    <article class="about-cover__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore molestias minima, dolorum incidunt similique nulla minus inventore dolorem rem maxime culpa veritatis delectus! Eaque, esse earum. Adipisci, eius veritatis sapiente facere tempore laboriosam! Sapiente, sint tempora ab repudiandae quisquam iste autem laborum ducimus ipsa, ad quia libero, obcaecati nesciunt accusantium.
    </article>
    <article class="about-cover__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolores quibusdam dolorem voluptatum cupiditate magni? Accusantium reiciendis minima soluta incidunt, quae distinctio magnam officiis, nam nostrum officia ipsum totam harum!
    </article>
    <article class="about-cover__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolor deserunt et voluptate error voluptatem, veritatis dolorum recusandae facere, quibusdam provident officiis debitis necessitatibus laudantium mollitia nisi aut velit? Excepturi.
    </article>
    <p class="about-cover__underline">Рады Вас приветствовать!</p>
</div>