<div class="contacts">
    <h2 class="contacts__heading">Наши контакты</h2>
       <div class="contacts__wrapper">
        <p class="contacts__item">(063) 245-23-51</p>
        <p class="contacts__item">(063) 245-23-51</p>
        <p class="contacts__item">(063) 245-23-51</p>
        <p class="contacts__item">info@forest-adge.com.ua</p>
        <p class="contacts__item">г.Киев ул.Киевская, 77</p>
    </div>
  
</div>