<div class="guaranty">
    <h2 class="guaranty__heading">Наши гарантии:</h2>
    <article class="guaranty__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa rerum numquam recusandae deleniti iusto cumque iste cum vel officia nemo?
    </article>
    <article class="guaranty__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ut.
    </article>
    <article class="guaranty__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet sapiente aliquid minima veritatis porro veniam.
    </article>
</div>