<div class="topSale">

</div>
<div class="content__underline">
    <div class="content__underline__ico">
    </div>
</div>
<h2 class="content__heading">Гроубоксы от «Лесная опушка»</h2>
<div class="grow-box">
    <div class="grow-box__img">

    </div>
    <div class="grow-box__text">
        <p class="grow-box__text__style"> В нашем магазине также широко представлены различные товары для комнатных
            растений в Украине – эффективные комплексные удобрения, качественные субстраты, дренаж и разрыхлители,
            удобные и прочные горшки и поддоны, опрыскиватели, ножницы, мерные емкости и другие полезные аксессуары для
            выращивания растений.<br><br></p>

        <p class="grow-box__text__style"> Вы можете быть профессиональным цветоводом или любителем-ботаником - покупайте
            в нашем магазине, и ваши растения будут радовать вас крепким здоровьем и цветущим видом!<br><br></p>

        <p class="grow-box__text__style">Наши специалисты проконсультируют вас, а информационные материалы к нашим
            товарам ответят на большинство вопросов, которые связаны с растениями и применением наших товаров.<br><br>
        </p>

        <p class="grow-box__text__style">Если вы ищете все для растений или вам нужно все для растений купить в Киеве –
            интернет-магазин GrowPro – это правильный выбор! Может быть, вам нужно кого-то поздравить? Вы можете выбрать
            подарок в нашем каталоге по сравнительно низкой стоимости - наши товары удовлетворят самого требовательного
            покупателя! Огромный выбор органических и минеральных удобрений, емкостей, субстратов, компактные pH- и
            EС-метры для контроля состава воды и почвы, удобные гроубоксы и системы полива – в интернет-магазине GrowPro
            можно найти подарки для всех.</p>

    </div>
</div>
<div class="content__underline">
    <div class="content__underline__ico">
    </div>
</div>
<h2 class="content__heading">Наши преимущества!</h2>
<div class="uniq-list">
    <div class="uniq-list__reason uniq-list__reason--one"></div>
    <div class="uniq-list__reason uniq-list__reason--two"></div>
    <div class="uniq-list__reason uniq-list__reason--three"></div>
    <div class="uniq-list__reason uniq-list__reason--four"></div>
</div>
<div class="content__underline">
    <div class="content__underline__ico">
    </div>
</div>
<h2 class="content__heading">Что такое аэропоника?</h2>
</div>
<div class="aeroponika__text">

    <p class="aeroponika__text__style"> Наши специалисты проконсультируют вас, а информационные материалы к нашим
        товарам ответят на большинство вопросов, которые связаны с растениями и применением наших товаров.<br><br></p>
    <p class="aeroponika__text__style"> Если вы ищете все для растений или вам нужно все для растений купить в Киеве –
        интернет-магазин GrowPro – это правильный выбор! Может быть, вам нужно кого-то поздравить? Вы можете выбрать
        подарок в нашем каталоге по сравнительно низкой стоимости - наши товары удовлетворят самого требовательного
        покупателя! Огромный выбор органических и минеральных удобрений, емкостей, субстратов, компактные pH- и EС-метры
        для контроля состава воды и почвы, удобные гроубоксы и системы полива – в интернет-магазине GrowPro можно найти
        подарки для всех.</p>


</div>
<div class="aeroponika__img">

</div>
</div>