<div class="service">
    <h2 class="service__heading">Что мы предлагаем:</h2>
    <table class="service__table">
        <tr>
            <th class="table-th">Цена</th>
            <th class="table-th">Услуга</th>
        </tr>
        <tr>
            <td class="table__td">Услуга 1</td>
            <td class="table__td">Цена 1</td>
        </tr>
        <tr>
            <td class="table__td">Услуга 2</td>
            <td class="table__td">Цена 2</td>
        </tr>
        <tr>
            <td class="table__td">Услуга 3</td>
            <td class="table__td">Цена 3</td>
        </tr>
        <tr>
            <td class="table__td">Услуга 4</td>
            <td class="table__td">Цена 4</td>
        </tr>
        <tr>
            <td class="table__td">Услуга 5</td>
            <td class="table__td">Цена 5</td>
        </tr>
    </table>
</div>