<div class="wgarden">
    <h2 class="wgarden__heading">Наш зимний сад</h2>
    <div class="wgarden__wrapper">
        <div class="wgarden__wrapper__img"><img src="./src/img/winter_garden/wgarden.jpg" alt=""></div>
        <p class="wgarden__wrapper__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptatum veritatis corporis, eius harum dolores ad obcaecati sit totam tempore.</p>
    </div>
    <div class="wgarden__wrapper">
        <div class="wgarden__wrapper__img"><img src="./src/img/winter_garden/wgarden2.jpg" alt=""></div>
        <p class="wgarden__wrapper__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptatum veritatis corporis, eius harum dolores ad obcaecati sit totam tempore.</p>
    </div>
    <div class="wgarden__wrapper">
        <div class="wgarden__wrapper__img"><img src="./src/img/winter_garden/wgarden3.jpg" alt=""></div>
        <p class="wgarden__wrapper__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptatum veritatis corporis, eius harum dolores ad obcaecati sit totam tempore.</p>
    </div>
      <div class="wgarden__wrapper">
        <div class="wgarden__wrapper__img"><img src="./src/img/winter_garden/wgarden.jpg" alt=""></div>
        <p class="wgarden__wrapper__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptatum veritatis corporis, eius harum dolores ad obcaecati sit totam tempore.</p>
    </div>
    <div class="wgarden__wrapper">
        <div class="wgarden__wrapper__img"><img src="./src/img/winter_garden/wgarden2.jpg" alt=""></div>
        <p class="wgarden__wrapper__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptatum veritatis corporis, eius harum dolores ad obcaecati sit totam tempore.</p>
    </div>
    <div class="wgarden__wrapper">
        <div class="wgarden__wrapper__img"><img src="./src/img/winter_garden/wgarden3.jpg" alt=""></div>
        <p class="wgarden__wrapper__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptatum veritatis corporis, eius harum dolores ad obcaecati sit totam tempore.</p>
    </div>

</div>