@media (min-width: 768px) {
    .footer {
      margin-top: 100px;
      background-color: $mainWebColor;
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      padding: 10px;
    }
    .footer__img-cover{
        width: auto;
    }
    .footer__ul{
        text-align: left;
    }
    .footer__links,.footer__work-time,.footer__contacts{
        border-bottom: none;
        
    }
    .footer__work-time{
        border-left: $helpGreenColor 2px solid;
        border-right: $helpGreenColor 2px solid;
    }
    .footer__links__ul__item__link::before{
        right: 20px;
    }
  }
  