@media (min-width: 1024px){
    .img-section__img {
        height: 600px;
        width: 100%;
        background-size: cover;
        min-width: 1024px;
        max-height: none;
    }
    .btn-container{
        padding: 5px 0 25px;
    }
    .img-section__btn {
            margin: 1px auto;
            position: absolute;
            bottom: 19px;
    
            &--first {
                left: 47.1%;
            }
    
            &--second {
                left: 49.4%;
            }
    
            &--third {
                left: 51.5%;
            }
    }
}