.img-section__top-border {
  background: $borderColor;
  height: 3px;
  width: 100%;
}
.img-section {
  width: 100%;
  min-width: 320px;
}
.img-section__img {
  width: 100%;
  height: calc(100vw / 2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-section__btn {
  background-color: #5d0400;
  border: #5d0400 3px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 3px 10px;

}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 5px;
}
.btn-turnOn{
  background-color: #ffffff;
}