.js-img-one {
    background-image: url('../../src/img/main-img-one.png');
}
.js-img-two {
    background-image: url('../../src/img/Cocina-alternativa.jpg');
}
.js-img-three {
    background-image: url('../../src/img/slider_01-1700x600.jpg');
}