@media (min-width:1024px){
    .content__nav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
        height: 63px
    }
    .content__nav__btn-link {
        background-color: transparent;
        border: none;
        font-size: 17px;
        color: #ffffff;
        font-weight: normal;
        padding-top: 17px;
        position: relative;
    }
    .content__nav__btn-link:nth-child(1),.content__nav__btn-link:nth-child(5),.content__nav__btn-link:nth-child(6) {
        bottom: 12px;
    }

}
